* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}
/* apply styles to header */
header {
  padding: 20px;
  background-color: #024e76;
  text-align: center;
}
header h1 {
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #fff;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

section {
  padding: 40px;
}

.section-title {
  font-size: 48px;
  color: #6495ed;
  border-bottom: 3px solid;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 100%;
}
.primary-border {
  border-color: #024e76;
}

/*WORK PORTFOLIO STYLES START */
.portfolio-name {
  font-size: 20px;
  padding-bottom: 8px;
  color: #6495ed;
}
.run-buddy img {
  width: 100%;
  float: left;
  border-radius: 10px;
}

.secondary-items img {
  width: 100%;
  border-radius: 10px;
}

/*MY INTERESTS STYLES START */
.travel h3 {
  font-size: 20px;
  padding-bottom: 8px;
  color: #6495ed;
  text-align: center;
}
.travel p {
  color: #024e76;
}
.travel-img {
  width: 30%;
  border-radius: 10px;
}
.card-travel {
  background-color: transparent;
  border: 0;
}

/*CONTACT ME STYLES START*/
.contact-row img {
  width: 30%;
  border-radius: 10px;
}

.contact-row p {
  color: #024e76;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    header h1 {
      width: 100%;
      text-align: center;
    }

    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }

    header nav ul li a {
      font-size: 20px;
    }

    @media screen and (max-width: 480px) {
      header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }

      header h1 {
        width: 100%;
        text-align: center;
      }

      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

      header nav ul li a {
        font-size: 20px;
      }
    }
  }
}
